
#wrapper {
    padding-left: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar {
    left: 250px;
    margin-left: -250px;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper .sidebar {
        width: 250px;
    }
    #page-content-wrapper {
        position: relative;
    }
}