
.top-nav-bar-user-nav div.user-nav .notif-list-items {
    position: absolute;
    top: 65px;
    right: 180px;
    width: 400px;
    display: none;
    /* display: block; */
    padding: 8px 0;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 17px 0 rgb(23 50 68 / 17%);
    -webkit-box-shadow: 0 0 17px 0 rgb(23 50 68 / 17%);
    -moz-box-shadow: 0 0 17px 0 rgb(23 50 68 / 17%);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    z-index: 2;
}

.top-nav-bar-user-nav div.user-nav .notif-list-items .pointer {
    position: absolute;
    top: -5px;
    right: 55px;
    height: 15px;
    width: 15px;
    content: " ";
    background-color: #fff;
    box-shadow: 3px 3px 3px 0 rgb(23 50 68 / 8%);
    -webkit-box-shadow: 3px 3px 3px 0 rgb(23 50 68 / 8%);
    -moz-box-shadow: 3px 3px 3px 0 rgb(23 50 68 / 8%);
    transform: translateX(0) rotate(-135deg);
    z-index: 2;
}

/** NOTIF LIST MAIN HEADER */
.notif-list-items .list-header {
    position: relative;
    width: 100%;
    padding: 23px 0 25px 0;
    border-bottom: 1px solid #e1e1e1;
}

.notif-list-items .list-header .header-title {
    margin: 0 0 0 30px;
    font-weight: 700;
    font-size: 20px;
    color: #20455e;
}

.notif-list-items .list-content {
    position: relative;
    height: 528px;
    width: 100%;
}

/** WITH NOTIF LIST CONTAINER */
.notif-list-items .list-content .notif-list-container {
    height: 100%;
    overflow: auto;
}

.notif-list-items .list-content .notif-list-container .notif-list-item {
    padding: 16px;
    display: flex;
    align-items: center;
}

.notif-list-items .list-content .notif-list-container .notif-list-item .notif-item-icon {
    width: 45px;
    margin: 0 14px 0 16px;
}

.notif-list-items .list-content .notif-list-container .notif-list-item .notif-details-container {
    flex-basis: 100%;
}

.notif-list-items .list-content .notif-list-container .notif-list-item .notif-details-container .notif-message {
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
}

.notif-list-items .list-content .notif-list-container .notif-list-item .notif-details-container .notif-time-from-now {
    margin: 0;
    font-size: 0.875rem;
}

.notif-list-items .list-content .notif-list-container .notif-list-item .notif-status-indicator {
    width: 9px;
    height: 9px;
}

.notif-list-items .list-content .notif-list-container .notif-list-item .notif-item-action {
    justify-self: center;
    align-self: center;
    width: 48px;
}

.notif-list-items .list-content .notif-list-container .notif-list-item .notif-item-action .notif-action-button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #5299E5;
}

.notif-status-pending {
    border: 1px solid #0073AA;
    background-color: #0073AA;

}

.notif-status-success {
    border: 1px solid #159B8B;
    background-color: #159B8B;
}

.notif-status-error {
    border: 1px solid #C9C9CA;
    background-color: #C9C9CA;
}

/** NO RESULTS CONTANER */
.notif-list-items .list-content .no-results-container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.notif-list-items .list-content .no-results-container .no-results-image {
    padding: 0 0 50px 0;
    text-align: center;
}

.notif-list-items .list-content .no-results-container h3.no-results-title {
    margin: 0 0 16px 0;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.notif-list-items .list-content .no-results-container p.no-results-description {
    margin: 0 auto;
    width: 323px;
    line-height: 1.5em;
    font-weight: 300;
    font-size: 16px;
    color: #20455e;
    text-align: center;
    word-break: break-word;
}