/** HOME CONTENT */
.my-home-container {
    width: 100%;
    padding: 50px 0;
    background-color: #FFFFFF;
}

.my-home-container .header-container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.my-home-container .header-container .header-title h1 {
    margin: 0 0 8px 0;
    font-size: 18px;
}

.my-home-container .header-container .header-title p {
    margin: 0;
    font-size: 14px;
}

.my-home-container .header-container .header-link,
.my-home-container .header-container .header-link:visited {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8px 14px;
    border: 1px solid #c3c4c7;
    border-radius: 2px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}

.my-home-container .header-container .header-link:hover {
    border: 1px solid #3c434a;
}

/** PAGES CONTENT */
.pages-container {
    width: 100%;
    padding: 50px 0;
}

.pages-container .header-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.pages-container .header-container .header-title h1 {
    margin: 0 0 8px 0;
    font-size: 24px;
}

.pages-container .header-container .header-title p {
    margin: 0;
    font-size: 14px;
}

.pages-container .header-container .header-title a,
.pages-container .header-container .header-title a:visited {
    text-decoration: none;
    color: #06A0DB;
}

.pages-container .header-container .header-title a:hover {
    color: #044b7a;
}

.pages-tab-container {
    position: relative;
    width: 90%;
    margin: 24px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 1px solid #c3c4c7;
}

.pages-tab-container .tabs-container {
    display: flex;
    flex-flow: row nowrap;
}

.pages-tab-container .tabs-container .tab {
    position: relative;
    padding: 16px;
    cursor: pointer;
    color: #06A0DB;
    border-bottom: 2px solid transparent;
}

.pages-tab-container .tabs-container .tab .tab-clicker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.pages-tab-container .tabs-container .tab:hover {
    background-color: #E9F0F5;
}

.pages-tab-container .tabs-container .tab-active {
    color: #3C434A;
    border-bottom: 2px solid #3C434A;
}

.pages-tab-container .tabs-container .tab .tab-text {
    font-size: 14px;
}

.pages-tab-container .tabs-container .tab .badge-pages-count {
    margin: 0 0 0 8px;
    padding: 1px 6px;
    font-size: 12px;
    border: 1px solid #a7aaad;
    border-radius: 50%;
    color: #3C434A;
}

.pages-tab-container .search-container {
    display: flex;
    align-items: center;
    color: #3C434A;
}

.pages-tab-container .search-wide-container {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #FFFFFF;
}

.pages-tab-container .search-navigation-icon {
    width: 50px;
    text-align: center;
    color: #0675C4;
}

.pages-tab-container .close-navigation-icon {
    display: none;
    width: 50px;
    text-align: center;
    cursor: pointer;
    color: #3C434A;
}

.pages-tab-container .search-navigation-icon svg:hover {
    color: #3C434A;
    cursor: pointer;
}

.pages-tab-container .search-page-list-input {
    display: none;
    width: 100%;
    height: 55px;
    padding: 0 50px;
    border: 1px solid #c3c4c7;
    font-size: 16px;
    background-color: #FFFFFF;
}

.pages-tab-container .search-page-list-input:focus {
    border: 1px solid #C8E3FB;
    box-shadow: 0 0 0 3px #91caf2;
    -webkit-box-shadow: 0 0 0 3px #91caf2;
    -moz-box-shadow: 0 0 0 3px #91caf2;
}

.pages-tab-container .search-wide-container .search-navigation-icon {
    position: absolute;
    left: 0;
    color: #3C434A;
}

.pages-tab-container .search-wide-container .close-navigation-icon {
    display: block;
    position: absolute;
    right: 0;
}

.pages-tab-container .search-wide-container .search-page-list-input {
    display: block;
}

.pages-list-container .no-page-results-found-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.pages-list-container .no-page-results-found-container .details-image {
    margin: 0 12px 0 0;
    padding: 0;
    width: 75px;
    height: 75px;
    text-align: center;
}

.pages-list-container .no-page-results-found-container .details-image svg {
    transform: scale(0.8);
}

.pages-list-container .no-page-results-found-container .details-text {
    text-align: center;
}

.pages-list-container .no-pages-found-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.pages-list-container .no-pages-found-container .details-image {
    padding: 0;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    text-align: center;
}

.pages-list-container .no-pages-found-container .details-image svg {
    transform: scale(0.8);
}

.pages-list-container .no-pages-found-container .details-text {
    margin: 0 0 48px 0;
    text-align: center;
}

.pages-list-container .no-pages-found-container .details-text h2 {
    margin: 0 0 8px 0;
    font-size: 36px;
    font-weight: 300;
}

.pages-list-container .no-pages-found-container .details-text p {
    margin: 0;
    font-size: 22px;
}

.pages-list-container .no-pages-found-container .start-page-button {
    padding: 12px 16px;
    background-color: #06A0DB;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    margin: auto;
    border-radius: 2px;
    border: 1px solid #06A0DB;
}

.pages-list-container .pages-list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    background-color: #FFFFFF;
    border: 1px solid #c3c4c7;
}

.pages-list-container .pages-list .pages-list-header {
    border-bottom: 1px solid #c3c4c7;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.pages-list-container .pages-list .pages-list-header h2 {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

.pages-list-container .pages-list .pages-list-header .create-page-button {
    padding: 7px;
    background-color: #06A0DB;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #06A0DB;
}

.pages-list-container .pages-list .pages-list-content {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.pages-list-container .pages-list .pages-list-content .content-details .page-name,
.pages-list-container .pages-list .pages-list-content .content-details .page-name:visited {
    margin: 0 0 0 5px;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.pages-list-container .pages-list .pages-list-content .content-details .time-created {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 12px;
    color: #646970;
}

.pages-list-container .pages-list .pages-list-content .content-details .time-created svg {
    margin: 0;
    transform: scale(0.5);
}

.pages-list-container .pages-list .pages-list-content .more-menu-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #646970;
}

.pages-list-container .pages-list .pages-list-content .more-vertical-menu-button svg {
    transform: rotate(90deg);
}

.pages-list-container .pages-list .pages-list-content .more-menu-button svg {
    transition: transform .15s cubic-bezier(.175,.885,.32,1.275);
}

.pages-list-container .pages-list .pages-list-content .more-menu-list {
    position: absolute;
    top: 65px;
    right: 15px;
    width: 200px;
    display: none;
    flex-flow: column;
    background-color: #FFFFFF;
    border: 1px solid #c3c4c7;
    padding: 4px 0;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%), 0 0 56px rgb(0 0 0 / 8%);
    -webkit-box-shadow: 0 2px 5px rgb(0 0 0 / 10%), 0 0 56px rgb(0 0 0 / 8%);
    -moz-box-shadow: 0 2px 5px rgb(0 0 0 / 10%), 0 0 56px rgb(0 0 0 / 8%);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    z-index: 2;
}

.pages-list-container .pages-list .pages-list-content .show-list {
    display: flex;
}

.pages-list-container .pages-list .pages-list-content .more-menu-list .pointer {
    position: absolute;
    top: -8px;
    right: 18px;
    height: 12px;
    width: 12px;
    content: " ";
    background-color: #FFFFFF;
    border-right: 1px solid #c3c4c7;
    border-bottom: 1px solid #c3c4c7;
    transform: translateX(0) rotate(-135deg);
    z-index: 1;
}

.pages-list-container .pages-list .unclickable-page-row {
    background-color: #F8F9F9;
}

.pages-list-container .pages-list .pages-list-content .more-menu-list .more-menu-item {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #646970;
    padding: 4px 16px;
    z-index: 3;
}

.pages-list-container .pages-list .pages-list-content .more-menu-list .more-menu-item:hover {
    background-color: #0073AA;
    color: #FFFFFF
}

.pages-list-container .pages-list .pages-list-content .more-menu-list .more-menu-item .more-menu-item-icon {
    transform: scale(0.8);
    margin: 0 4px 0 0;
}

.pages-list-container .pages-list .pages-list-content .more-menu-list .more-menu-item .more-menu-item-text {
    font-size: 14px;
}

.pages-list-container .pages-list .pages-list-content .show-list .more-menu-item:last-child {
    margin: 8px 0 0 0;
    border-top: 1px solid #c3c4c7;
}

.pages-list-container .pages-list .pages-list-content .more-menu-list .delete:hover {
    background-color: #D63638;
}

.pages-list-container .pages-list .pages-list-content .more-menu-list .page-type {
    border-top: 1px solid #F6F7F7;
    padding: 8px 16px;
    color: #646970;
    font-size: 14px;
}

.pages-container .list-end-indicator {
    width: 90%;
    margin: 32px auto 0 auto;
    border-top: 1px solid #c3c4c7;
}

.pages-container .popup-message-copy-link {
    position: fixed;
    top: 75px;
    right: 25px;
    width: 300px;
    display: flex;
    flex-flow: row;
    background-color: #23282D;
    color: #FFFFFF;
    z-index: 999;
}

.pages-container .popup-message-copy-link-hidden { display: none; }

.pages-container .popup-message-copy-link .icon {
    padding: 8px 6px;
    background-color: #06A0DB;
}

.pages-container .popup-message-copy-link .text {
    flex-grow: 1;
    margin: 0 0 0 16px;
    align-self: center;
    font-size: 14px;
}

.pages-container .popup-message-copy-link .close-button {
    flex-basis: 28px;
    align-self: center;
    cursor: pointer;
}