.app-dashboard-content-container {
    display: flex;
    flex-flow: row nowrap;
}

.app-dashboard-content-container .main-content {
    width: 100%;
    margin: 0 0 0 270px;
}

.app-dashboard-content-container .main-content-minimize {
    margin: 0 0 0 48px;
}

.my-home-container {
    width: 100%;
    padding: 50px 0;
    background-color: #FFFFFF;
}

.my-home-container .header-container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.my-home-container .header-container .header-title h1 {
    margin: 0 0 8px 0;
    font-size: 18px;
}

.my-home-container .header-container .header-title p {
    margin: 0;
    font-size: 14px;
}

.my-home-container .header-container .header-link,
.my-home-container .header-container .header-link:visited {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8px 14px;
    border: 1px solid #c3c4c7;
    border-radius: 2px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}

.my-home-container .header-container .header-link:hover {
    border: 1px solid #3c434a;
}