.app-dashboard-content-container {
    display: flex;
    flex-flow: row nowrap;
}

.app-dashboard-content-container .main-content {
    width: 100%;
    margin: 0 0 0 270px;
}

.app-dashboard-content-container .main-content-minimize {
    margin: 0 0 0 48px;
}

.my-home-container {
    width: 100%;
    padding: 50px 0;
    background-color: #FFFFFF;
}

.my-home-container .header-container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.my-home-container .header-container .header-title h1 {
    margin: 0 0 8px 0;
    font-size: 18px;
}

.my-home-container .header-container .header-title p {
    margin: 0;
    font-size: 14px;
}

.my-home-container .header-container .header-link,
.my-home-container .header-container .header-link:visited {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8px 14px;
    border: 1px solid #c3c4c7;
    border-radius: 2px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}

.my-home-container .header-container .header-link:hover {
    border: 1px solid #3c434a;
}

.pages-container {
    width: 100%;
    padding: 50px 0;
}

.pages-container .header-container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.pages-container .header-container .header-title h1 {
    margin: 0 0 8px 0;
    font-size: 18px;
}

.pages-container .header-container .header-title p {
    margin: 0;
    font-size: 14px;
}

.pages-container .header-container .header-title a,
.pages-container .header-container .header-title a:visited {
    text-decoration: none;
    color: #06A0DB;
}

.pages-container .header-container .header-title a:hover {
    color: #044b7a;
}

.pages-tab-container {
    width: 60%;
    margin: 24px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 1px solid #c3c4c7;
}

.pages-tab-container .tabs-container {
    display: flex;
    flex-flow: row nowrap;
}

.pages-tab-container .tabs-container .tab {
    padding: 16px;
    cursor: pointer;
    color: #06A0DB;
    border-bottom: 2px solid transparent;
}

.pages-tab-container .tabs-container .tab:hover {
    background-color: #E9F0F5;
}

.pages-tab-container .tabs-container .tab-active {
    color: #3C434A;
    border-bottom: 2px solid #3C434A;
}

.pages-tab-container .tabs-container .tab .tab-text {
    font-size: 14px;
}

.pages-tab-container .tabs-container .tab .badge-pages-count {
    margin: 0 0 0 8px;
    padding: 1px 6px;
    font-size: 12px;
    border: 1px solid #a7aaad;
    border-radius: 50%;
    color: #3C434A;
}

.pages-tab-container .search-container {
    display: flex;
    align-items: center;
    padding: 8px;
    color: #3C434A;
    cursor: pointer;
}

.pages-list-container .no-pages-found-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.pages-list-container .no-pages-found-container .details-image {
    padding: 0;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    text-align: center;
}

.pages-list-container .no-pages-found-container .details-image svg {
    transform: scale(0.8);
}

.pages-list-container .no-pages-found-container .details-text {
    margin: 0 0 48px 0;
    text-align: center;
}

.pages-list-container .no-pages-found-container .details-text h2 {
    margin: 0 0 8px 0;
    font-size: 36px;
    font-weight: 300;
}

.pages-list-container .no-pages-found-container .details-text p {
    margin: 0;
    font-size: 22px;
}

.pages-list-container .no-pages-found-container .start-page-button {
    padding: 12px 16px;
    background-color: #06A0DB;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    margin: auto;
    border-radius: 2px;
    border: 1px solid #06A0DB;
}