/** TOP NAVIGATION BAR */
.edit-nav-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E0E0E0;
    z-index: 999;
}

.site-logo-container .site-logo-link {
    position: relative;
    display: block;
    max-width: 5em;
    padding: 8px;
}

.site-logo-container img.site-logo {
    width: 100%;
}

.site-logo-container .logo-protector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.edit-nav-bar {
    width: 100%;
    margin: 0 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.edit-nav-bar .edit-nav-bar-menus {
    display: flex;
}

.edit-nav-bar .edit-nav-bar-menus .page-button {
    display: flex;
    margin: 0;
    outline: none;
    cursor: pointer;
    align-self: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 4px;
    color: #1E1E1E;
}

.edit-nav-bar .edit-nav-bar-menus .page-button:nth-child(2) {
    margin: 0 0 0 6px;
}

.edit-nav-bar .edit-nav-bar-menus .page-button svg {
    transform: scale(0.8);
}

.edit-nav-bar .edit-nav-bar-menus .page-button:focus {
    border: 1px solid #007CBA;
    border-radius: 3px;
}

.edit-nav-bar .edit-nav-bar-menus .page-button:hover {
    color: #007CBA;
}

.edit-nav-bar .edit-nav-bar-menus .add-component-button {
    border-radius: 3px;
    padding: 4px;
    background-color: #007CBA;
    color: #FFFFFF;
    display: flex;
}

.edit-nav-bar .edit-nav-bar-menus .add-component-button svg {
    transition: transform .2s cubic-bezier(.165,.84,.44,1);
    -o-transition: transform .2s cubic-bezier(.165,.84,.44,1);
    -moz-transition: transform .2s cubic-bezier(.165,.84,.44,1);
    -webkit-transition: transform .2s cubic-bezier(.165,.84,.44,1);
}

.edit-nav-bar .edit-nav-bar-menus .add-component-button:hover {
    background-color: #006BA1;
    color: #FFFFFF;
}

.edit-nav-bar .edit-nav-bar-menus .toggle-inserter {
    background-color: #1E1E1E;
}

.edit-nav-bar .edit-nav-bar-menus .toggle-inserter svg {
    transform: scale(0.8);
    transform: rotate(45deg);
}

.edit-nav-bar .edit-nav-bar-menus .toggle-inserter:hover {
    background-color: #1E1E1E;
    border: 1px solid #1E1E1E;
}

.edit-nav-bar .edit-nav-bar-menus .toggle-list-view,
.edit-nav-bar .edit-nav-bar-menus .toggle-list-view:hover {
    background-color: #1E1E1E;
    border: 1px solid #1E1E1E;
    color: #FFFFFF;
}

.edit-nav-bar .edit-nav-bar-menus .disabled-button,
.edit-nav-bar .edit-nav-bar-menus .disabled-button:hover {
    color: #CDCDCD;
    cursor: default;
}

.edit-nav-bar .edit-nav-bar-menus .page-status-button {
    margin: 0 4px;
    font-size: 13px;
    border: 1px solid transparent;
    padding: 8px 12px;
    color: #1E1E1E;
}

.edit-nav-bar .edit-nav-bar-menus .page-status-button:hover {
    border: 1px solid #007CBA;
    border-radius: 3px;
    color: #007CBA;
}

.edit-nav-bar .edit-nav-bar-menus .page-edit-button-active {
    color: #007CBA;
}

.edit-nav-bar .edit-nav-bar-menus .disabled-draft-button {
    margin: 0 4px;
    font-size: 13px;
    border: 1px solid transparent;
    padding: 8px 12px;
    color: #868686;
    cursor: default;
}

.edit-nav-bar .edit-nav-bar-menus .disabled-draft-button:hover {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #868686;
    cursor: default;
}

.edit-nav-bar .edit-nav-bar-menus .disabled-preview-button {
    margin: 0 4px;
    font-size: 13px;
    border: 1px solid transparent;
    padding: 8px 12px;
    color: #868686;
    background-color: #EAEAEA;
    cursor: default;
}

.edit-nav-bar .edit-nav-bar-menus .disabled-preview-button:hover {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #868686;
    cursor: default;
}

.edit-nav-bar .edit-nav-bar-menus .publish-page-button {
    border-radius: 3px;
    background-color: #007CBA;
    color: #FFFFFF;
    display: flex;
}

.edit-nav-bar .edit-nav-bar-menus .publish-page-button:hover {
    background-color: #006BA1;
    color: #FFFFFF;
}

.edit-nav-bar .edit-nav-bar-menus .disabled-publish-button {
    margin: 0 4px;
    font-size: 13px;
    border: 1px solid transparent;
    padding: 8px 12px;
    color: #3EA8D6;
    background-color: #007CBA;
    cursor: default;
}

.edit-nav-bar .edit-nav-bar-menus .disabled-publish-button:hover {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #3EA8D6;
    background-color: #007CBA;
    cursor: default;
}

.edit-nav-bar .edit-nav-bar-menus .page-settings-button {
    display: flex;
    padding: 4px;
    margin: 0 0 0 14px;
}

.edit-nav-bar .edit-nav-bar-menus .toggle-settings,
.edit-nav-bar .edit-nav-bar-menus .toggle-settings:hover {
    background-color: #1E1E1E;
    color: #FFFFFF;
}

.edit-popover {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}

.edit-popover .editor-tools-container {
    display: none;
    position: absolute;
    width: 280px;
    left: 140px;
    border: 1px solid #E0E0E0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #FFFFFF;
    z-index: 99;
}

.edit-popover .editor-tools-container-show {
    display: block;
}

.edit-popover .editor-tools-container .tools-menu-items {
    padding: 8px;
}

.edit-popover .editor-tools-container .tools-menu-items button.tools-menu-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 8px;
    cursor: pointer;
}

.edit-popover .editor-tools-container .tools-menu-items button.tools-menu-item-active {
    border: 2px solid #007CBA;
}

.edit-popover .editor-tools-container .tools-menu-items button.tools-menu-item:hover {
    color: #007CBA;
}

.edit-popover .editor-tools-container .tools-menu-items button.tools-menu-item .icon {
    transform: scale(0.8);
    flex-basis: 30px;
    margin-right: 14px;
    align-self: center;
}

.edit-popover .editor-tools-container .tools-menu-items button.tools-menu-item .text {
    font-size: 12px;
    text-align: justify;
    flex-basis: 100%;
}

.edit-popover .editor-tools-container .tools-menu-items button.tools-menu-item .is-checked {
    visibility: hidden;
    transform: scale(0.8);
    flex-basis: 30px;
}

.edit-popover .editor-tools-container .tools-menu-items button.tools-menu-item .is-checked-active {
    visibility: visible;
}

.edit-popover .editor-tools-container .tools-menu-help {
    padding: 16px;
    border-top: 1px solid #E0E0E0;
}

.edit-popover .editor-tools-container .tools-menu-help p {
    margin: 0;
    font-size: 14px;
    color: #858585;
}

.edit-popover .editor-details-container {
    display: none;
    width: 380px;
    position: absolute;
    left: 100px;
    border: 2px solid #E0E0E0;
    padding: 8px 16px;
    background-color: #FFFFFF;
    z-index: 99;
}

.edit-popover .editor-details-container-show {
    display: block;
    border: 2px solid #007CBA;
}

.edit-popover .editor-details-container .details-container {
    padding: 8px 0;
}

.edit-popover .editor-details-container .details-container span {
    display: block;
}

.edit-popover .editor-details-container .details-container span.title {
    font-size: 13px;
    color: #858585;
    font-weight: 300;
    padding-bottom: 4px;
}

.edit-popover .editor-details-container .details-container span.count {
    font-size: 18px;
    font-weight: 700;
    color: #4F4F4F;
}

.edit-popover .editor-preview-container {
    display: none;
    position: absolute;
    width: 280px;
    right: 130px;
    border: 1px solid #E0E0E0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #FFFFFF;
    z-index: 99;
}

.edit-popover .editor-preview-container-show {
    display: block;
}

.edit-popover .editor-preview-container .preview-menu-items {
    padding: 8px;
}

.edit-popover .editor-preview-container .preview-menu-items button.preview-menu-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 8px;
    cursor: pointer;
}

.edit-popover .editor-preview-container .preview-menu-items button.preview-menu-item-active {
    border: 2px solid #007CBA;
}

.edit-popover .editor-preview-container .preview-menu-items button.preview-menu-item:hover {
    color: #007CBA;
}

.edit-popover .editor-preview-container .preview-menu-items button.preview-menu-item .icon {
    transform: scale(0.8);
    flex-basis: 30px;
    margin-right: 14px;
    align-self: center;
}

.edit-popover .editor-preview-container .preview-menu-items button.preview-menu-item .text {
    font-size: 12px;
    text-align: justify;
    flex-basis: 100%;
}

.edit-popover .editor-preview-container .preview-menu-items button.preview-menu-item .is-checked {
    visibility: hidden;
    transform: scale(0.8);
    flex-basis: 30px;
}

.edit-popover .editor-preview-container .preview-menu-items button.preview-menu-item .is-checked-active {
    visibility: visible;
}

.edit-popover .editor-preview-container .preview-menu-links {
    padding: 8px;
    border-top: 1px solid #E0E0E0;
    padding: 16px 8px;
}

.edit-popover .editor-preview-container .preview-menu-links .preview-menu-link,
.edit-popover .editor-preview-container .preview-menu-links .preview-menu-link:visited,
.edit-popover .editor-preview-container .preview-menu-links .preview-menu-link:active {
    display: flex;
    align-items: center;
    padding: 0 8px;
    text-decoration: none;
    color: #4F4F4F;
}

.edit-popover .editor-preview-container .preview-menu-links .preview-menu-link:hover {
    color: #007CBA;
}

.edit-popover .editor-preview-container .preview-menu-links .preview-menu-link .text {
    font-size: 14px;
    flex-basis: 100%;
    text-align: justify;
}

.edit-popover .editor-preview-container .preview-menu-links .preview-menu-link .icon {
    transform: scale(0.8);
    flex-basis: 30px;
    align-self: center;
}

.edit-popover .editor-publish-container {
    display: none;
    z-index: 999;
    position: fixed;
    width: 260px;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    height: 100vh;
    border-left: 1px solid #E0E0E0;
}

.edit-popover .editor-publish-container-show {
    display: flex;
    flex-flow: column;
}

.edit-popover .editor-publish-container .publish-header {
    border-bottom: 1px solid #E0E0E0;
    padding: 16px;
}

.edit-popover .editor-publish-container .publish-header .before-publish-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.edit-popover .editor-publish-container .publish-header .before-publish-buttons button {
    display: block;
    align-self: center;
    background-color: #FFFFFF;
    border: 1px solid #007CBA;
    flex-basis: 48%;
    color: #007CBA;
    padding: 10px 16px;
    font-size: 13px;
    cursor: pointer;
}

.edit-popover .editor-publish-container .publish-header .before-publish-buttons button.submit-button {
    border: 1px solid #007CBA;
    background-color: #007CBA;
    color: #FFFFFF;
}

.edit-popover .editor-publish-container .publish-header .before-publish-buttons button.submit-button:hover {
    background-color: #006BA1;
}

.edit-popover .editor-publish-container .publish-header .before-publish-buttons .disabled-publish-button {
    border: 1px solid transparent;
    color: #3EA8D6;
    background-color: #007CBA;
    cursor: default;
}

.edit-popover .editor-publish-container .publish-header .before-publish-buttons .disabled-publish-button:hover {
    border: 1px solid transparent;
    color: #3EA8D6;
    background-color: #007CBA;
    cursor: default;
}

.edit-popover .editor-publish-container .publish-header .before-publish-buttons .disabled-cancel-publish-button {
    border: 1px solid #868686;
    color: #868686;
    background-color: #EAEAEA;
    cursor: default;
}

.edit-popover .editor-publish-container .publish-header .before-publish-buttons .disabled-cancel-publish-button:hover {
    border: 1px solid #868686;
    color: #868686;
    cursor: default;
}

.edit-popover .editor-publish-container .publish-content {
    position: relative;
    flex-basis: 100%;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details-hide {
    display: none;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details strong {
    display: block;
    font-size: 13px;
    margin: 16px;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details p {
    margin: 0 16px;
    font-size: 13px;
    line-height: 1.5em;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-details {
    margin: 16px;
    display: flex;
    flex-flow: row nowrap;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-details span {
    display: block;    
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-details div.logo {
    position: relative;
    display: block;
    max-width: 4em;
    padding: 8px 0;
    margin: 0 8px 0 0;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-details div.logo .app-logo {
    width: 100%;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-details div.logo .logo-protector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-details div.details {
    flex-basis: 100%;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-details div.details span.title {
    margin-bottom: 4px;
    font-size: 14px;
    word-break: break-word;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-details div.details span.url {
    font-size: 12px;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-settings .setting-toggable {
    position: relative;
    width: 100%;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    border: 2px solid transparent;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-settings .setting-toggable:focus {
    border: 2px solid transparent;
    border: 2px solid #007CBA;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-settings .setting-toggable .block {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    padding: 14px 16px;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-settings .setting-toggable:first-child .block {
    border-top: 1px solid #E0E0E0;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-settings .setting-toggable .block .detail {
    flex-basis: 100%;
    text-align: left;
    display: flex;
    flex-flow: row;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-settings .setting-toggable .block .detail span {
    display: block;
    align-self: center;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-settings .setting-toggable .block .detail .title {
    font-weight: 700;
    margin-right: 6px;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-settings .setting-toggable .block .detail .value {
    font-size: 13px;
    flex-basis: 100%;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-settings .visibility-list {
    display: none;
    padding: 8px 8px 24px 8px;
    border-bottom: 1px solid #E0E0E0;
}

.edit-popover .editor-publish-container .publish-content .before-publish-details .app-settings .show-visibility-list {
    display: block;
}

.edit-popover .editor-publish-container .publish-content .publish-loader {
    position: absolute;
    top: 100px;
    left: 100px;
}

.edit-popover .editor-publish-container .publish-content .publish-loader svg {
    display: none;
}

.edit-popover .editor-publish-container .publish-content .publish-loader-show svg {
    display: block;
}

.edit-popover .editor-publish-container .publish-footer {
    padding: 16px 0 50px 8px;
}