.app-side-bar-container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 50px 0 0 0;
    height: 100vh;
    width: 270px;
    background-color: #23282D;
    z-index: 99;
}

.app-side-bar-container .side-nav-menu .menu-item,
.app-side-bar-container .side-nav-menu .menu-item:visited {
    display: flex;
    flex-flow: row nowrap;
    padding: 8px;
    border-left: 5px solid transparent;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.app-side-bar-container .side-nav-menu .menu-item:hover {
    color: #00B9EB;
    border-left: 5px solid #00B9EB;
}

.app-side-bar-container .menu-item-active {
    border-left: 5px solid transparent;
    background-color: #0073AA;
}

.app-side-bar-container .menu-item-active:hover {
    border-left: 5px solid #FFFFFF;
}

.app-side-bar-container .menu-item-active .menu-item {
    padding: 8px 8px 8px 4px;
}

.app-side-bar-container .menu-item-active .menu-item:hover {
    border-left: 5px solid transparent;
    color: #FFFFFF;
}

.app-side-bar-container .side-nav-menu .menu-item .nav-icon {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 8px 0 0;
    transform: scale(0.8);
}

.app-side-bar-container .side-nav-menu .menu-item .nav-text {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.app-side-bar-container .side-nav-menu .menu-item .nav-text .plan-type {
    margin: 0 8px 0 0;
}

.app-side-bar-container .side-nav-sub-menu {
    display: flex;
    flex-flow: column;
    background-color: #32373C;
    border-left: 5px solid transparent;
    cursor: pointer;
}

.app-side-bar-container .side-nav-sub-menu .menu-item {
    width: 100%;
    text-decoration: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    padding: 8px;
}

.app-side-bar-container .side-nav-sub-menu:hover {
    border-left: 5px solid #00B9EB;
}

.app-side-bar-container .side-nav-sub-menu:hover > .menu-item {
    color: #00B9EB;
}

.app-side-bar-container .side-nav-sub-menu-active {
    border-left: 5px solid transparent;
}

.app-side-bar-container .side-nav-sub-menu-active .menu-item {
    color: #FFFFFF;
}

.app-side-bar-container .side-nav-sub-menu-active:hover {
    border-left: 5px solid #FFFFFF;
}

.app-side-bar-container .side-nav-sub-menu-active:hover > .menu-item {
    color: #FFFFFF;
}

.app-side-bar-minimize {
    width: 48px;
    height: 100vh
}

.app-side-bar-minimize .side-nav-menu .menu-item .nav-text {
    display: none;
}

.app-side-bar-minimize .side-nav-sub-menu {
    display: none;
}

.main-header-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 16px 8px;
    text-decoration: none;
}

.main-header-container .app-details-icon {
    width: fit-content;
    display: flex;
    margin: 0 8px 0 0;
    padding: 4px;
    background-color: #C3C4C7;
    color: #FFFFFF;
    transition: 0.3s;
}

.main-header-container .app-details-icon-highlight {
    background-color: #0073AA;
}

.main-header-container .app-details-icon svg {
    transform: scale(0.85);
}

.main-header-container .app-details-name {
    display: block;
    width: 200px; 
    font-size: 18px;
    color: #FFFFFF;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

.main-header-container .app-details-name-hidden {
    display: none;
}