.buttoncontrols {
    height: 24px;
    width: 24px;
    object-fit: 'cover';
    padding: 4px;
    opacity: 0.2;
}

.c-breadcrumbs .container {
    max-width: 1056px;
    margin: 0 auto;
    padding: 8px 24px;
}
.c-breadcrumbs .container .breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.c-breadcrumbs .container .breadcrumbs a {
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #575757;
    white-space: nowrap;
    position: relative;
    padding-right: 20px;
    margin-right: 8px;
    text-decoration: none;
}
.c-breadcrumbs .container .breadcrumbs a::after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url(https://www.cebupacificair.com/icon-right.31eafbdf7c9de8b77879.svg);
    background-size: contain;
}
.c-breadcrumbs .container .breadcrumbs a:last-child::after {
    display: none;
}
@media only screen and (min-width: 767px) {
    .c-breadcrumbs .container {
        padding: 8px 0;
    }
}
